.blog {
  width: 100%;
  padding: 64px 0;

  .container {
    display: grid;
    gap: 64px;
  }
}

.blog-title {
  position: relative;

  &::before {
    content: '';
    position: absolute;
    top: 5px;
    right: 0;
    width: calc(90% - 120px);
    height: 2px;
    background-color: #fff;
  }
}

.blog-wrapper {
  display: grid;
  gap: 32px;
}

.blog-card {
  display: grid;
  gap: 32px;
}

.blog-card-img {
  position: relative;
  width: 100%;
  padding-top: 60%;

  &::before {
    content: '';
    position: absolute;
    top: -7%;
    left: 0;
    width: 95%;
    height: 100%;
    border: 2px solid $yellow;
  }

  img {
    position: absolute;
    top: 0;
    right: 0;
    width: 95%;
    height: 100%;
    object-fit: cover;
  }
}

.blog-text {
  width: 100%;
  
  span {
    display: flex;
    align-items: center;
    gap: 16px;
    color: #fff;
    font-size: 13px;
  }

  h4 {
    color: $yellow;
    font-size: 2.5rem;
    font-weight: bolder;
  }

  p {
    position: relative;
    padding: 16px 0 24px;
    margin: 16px 0 16px;

    &::before,
    &::after {
      content: '';
      position: absolute;
      top: 0;
      left: 10%;
      width: 30%;
      height: 2px;
      background-color: #fff;
    }

    &::after {
      top: unset;
      bottom: 0;
      left: unset;
      right: 5%;
      width: 10%;
    }
  }
}

@media screen and (min-width: 768px) {
  .blog-card {
    grid-template-columns: repeat(2, 1fr);
    align-items: flex-start;
    gap: 64px;
  }
}
