.home-about {
  width: 100%;
  padding: 64px 0;

  .container {
    display: grid;
    gap: 64px;
  }
}

.home-about-text {
  max-width: 400px;

  p {
    margin: 1rem 0;
  }

  .cta {
    margin-top: 48px;
  }
}

.home-about-logo {
  width: 280px;
  justify-self: center;

  img {
    width: 100%;
  }
}

@media screen and (min-width: 768px) {
  .home-about .container {
    grid-template-columns: 1fr 1fr;
    gap: 64px;
  }  

  .home-about-logo {
    justify-self: flex-end;
    align-self: center;
  }
}

@import './aboutLogos';
