.home-about-logos {
  width: 100%;
  padding: 64px 0;

  .container {
    display: grid;
    gap: 64px;
    justify-items: center;
  }
}

@media screen and (min-width: 768px) {
  .home-about-logos .container {
    grid-template-columns: repeat(3, 1fr);
    align-items: center;

    img {
      width: 100%;
    }
  }
}

@media screen and (min-width: 1050px) {
  .home-about-logos .container {
    gap: 96px;
  }
}
