.home-banner {
  position: relative;
  width: 100%;
  height: 100vh;
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  opacity: 0;
  z-index: 1;
  
  &.anime {
    animation: 4s animationBanner forwards;
  }

  .container {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &::before,
  &::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 40%;
    background-image: linear-gradient(180deg, #221C1C, #221C1C00);
    z-index: -2;
  }

  &::after {
    top: unset;
    bottom: 0;
    background-image: linear-gradient(0, #221C1C, #221C1C00);
  }
}

.home-banner-text {
  display: flex;
  flex-direction: column;
  align-items: center;

  h1 {
    color: #fff;
    font-size: 3rem;
    font-weight: bolder;
    text-align: center;
    opacity: 0;
    transform: translate3d(0, 32px, 0);

    &.anime {
      animation: 4s animationText forwards;
    }
  }

  p {
    font-size: 1.5rem;
    margin: 0;
    text-align: center;
    opacity: 0;
    transform: translate3d(0, 32px, 0);

    &.anime {
      animation: 4s animationText forwards;
      animation-delay: .5s;
    }
  }

  .cta {
    margin-top: 2rem;
    opacity: 0;
    transform: translate3d(0, 32px, 0);

    &.anime {
      animation: 4s animationText forwards;
      animation-delay: 1s;
    }
  }
}

.home-banner-pattern {
  position: absolute;
  top: 75%;
  left: 60%;
  width: 100vw;
  height: 50%;
  background-size: cover;
  opacity: 0.1;
  z-index: -1;
}

@media screen and (min-width: 1050px) {
  .home-banner-pattern {
    position: absolute;
    top: 60%;
    left: 70%;
    width: 100vw;
    height: 100%;
    background-size: contain;
  }
}

@keyframes animationBanner {
  0% {
    opacity: 0;
  }

  50%, 100% {
    opacity: 1;
  }
}

@keyframes animationText {
  0%, 50% {
    opacity: 0;
    transform: translate3d(0, 32px, 0);
  }

  80%, 100% {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}
