* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  outline: none;
  -webkit-font-smoothing: antialiased;
  font-family: 'Lato', Helvetica, Arial, sans-serif; }

body {
  background-color: #221c1c;
  font-size: 16px;
  overflow-x: hidden; }

h2 {
  color: #00cfe5;
  font-size: 2.8rem;
  font-weight: bolder;
  text-transform: uppercase; }

h3 {
  color: #fff;
  font-size: 12px;
  font-weight: normal;
  letter-spacing: .2rem;
  text-transform: uppercase; }

ul,
ol,
li {
  list-style: none; }

a {
  text-decoration: none; }

p {
  color: #DCDCDC;
  font-size: 1rem;
  line-height: 1.5rem; }

.container {
  width: 90%;
  max-width: 1050px;
  margin: 0 auto; }

.cta {
  min-width: 260px;
  padding: .5rem 2rem;
  display: inline-block;
  border: 3px solid #00cfe5;
  color: #00cfe5;
  font-weight: bolder;
  letter-spacing: 0.1rem;
  text-align: center;
  text-transform: uppercase;
  cursor: pointer;
  transition: .3s background-color, .3s color; }
  .cta:hover {
    background-color: #00cfe5;
    color: #221c1c; }
  .cta.cta-yellow {
    border-color: #ffdd00;
    color: #ffdd00; }
    .cta.cta-yellow:hover {
      background-color: #ffdd00;
      color: #221c1c; }

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 1rem 0;
  z-index: 999;
  transition: .3s background-color; }
  .header.active {
    background-color: #221c1c; }
  .header .container {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    align-items: center; }

.header-midia {
  display: flex;
  align-items: center;
  gap: 16px; }
  .header-midia svg {
    fill: #fff;
    width: 16px;
    height: 16px; }

.logo-header {
  justify-self: center; }
  .logo-header img {
    width: 160px; }

.menu-hamb {
  width: 32px;
  height: 32px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  gap: 6px;
  flex-direction: column;
  justify-self: flex-end;
  cursor: pointer; }
  .menu-hamb span, .menu-hamb::after {
    width: 100%;
    height: 2px;
    display: block;
    background-color: #fff; }
  .menu-hamb::after {
    content: '';
    width: 85%; }

@media screen and (min-width: 1050px) {
  .header {
    padding: 1.5rem 0; }
  .logo-header img {
    width: 180px; } }

.menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  padding: 1rem 1rem 2rem;
  display: flex;
  gap: 2rem;
  flex-direction: column;
  justify-content: flex-end;
  background-color: #221c1c;
  opacity: 0;
  visibility: hidden;
  z-index: 999;
  transition: 1s width, 1s opacity, 1s visibility; }
  .menu.active {
    opacity: 1;
    visibility: visible; }
  .menu ul li a {
    color: #fff;
    font-size: 3rem;
    font-weight: lighter;
    text-transform: uppercase; }
  .menu ul li:not(.current_page_item):not(.current-page-ancestor) a {
    opacity: 0.5; }
  .menu .menu-pattern {
    position: absolute;
    top: 0;
    left: 30vw;
    width: 100vw;
    height: 40%;
    background-size: cover;
    background-position: 100% 100%;
    opacity: 0.1;
    z-index: -1; }
  .menu .menu-logo {
    align-self: center;
    width: 200px; }
  .menu .close-button {
    position: absolute;
    top: 32px;
    right: 32px;
    width: 32px;
    height: 32px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    gap: 6px;
    flex-direction: column;
    justify-self: flex-end;
    cursor: pointer; }
    .menu .close-button span, .menu .close-button::after {
      width: 100%;
      height: 2px;
      display: block;
      background-color: #fff;
      transform: rotate(45deg) translate3d(3px, 3px, 0); }
    .menu .close-button::after {
      content: '';
      width: 100%;
      transform: rotate(-45deg) translate3d(2px, -3px, 0); }

@media screen and (min-width: 768px) {
  .menu {
    padding: 4rem;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end; }
    .menu ul li a {
      font-size: 3.5rem; }
    .menu .menu-logo {
      align-self: flex-end;
      width: 280px; } }

.inside-banner {
  position: relative;
  width: 100%;
  padding: 128px 0;
  background-position: center center;
  background-size: cover;
  z-index: 1; }
  .inside-banner::before, .inside-banner::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 50%;
    background-image: linear-gradient(180deg, #221C1C, #221C1C00);
    z-index: -2; }
  .inside-banner::after {
    top: unset;
    bottom: 0;
    background-image: linear-gradient(0, #221C1C, #221C1C00); }
  .inside-banner h1 {
    color: #fff;
    font-size: 3rem;
    font-weight: bolder;
    text-align: center; }

.home-banner {
  position: relative;
  width: 100%;
  height: 100vh;
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  z-index: 1; }
  .home-banner .container {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center; }
  .home-banner::before, .home-banner::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 40%;
    background-image: linear-gradient(180deg, #221C1C, #221C1C00);
    z-index: -2; }
  .home-banner::after {
    top: unset;
    bottom: 0;
    background-image: linear-gradient(0, #221C1C, #221C1C00); }

.home-banner-text {
  display: flex;
  flex-direction: column;
  align-items: center; }
  .home-banner-text h1 {
    color: #fff;
    font-size: 3rem;
    font-weight: bolder;
    text-align: center; }
  .home-banner-text p {
    font-size: 1.5rem;
    margin: 0; }
  .home-banner-text .cta {
    margin-top: 2rem; }

.home-banner-pattern {
  position: absolute;
  top: 75%;
  left: 60%;
  width: 100vw;
  height: 50%;
  background-size: cover;
  opacity: 0.1;
  z-index: -1; }

@media screen and (min-width: 1050px) {
  .home-banner-pattern {
    position: absolute;
    top: 60%;
    left: 70%;
    width: 100vw;
    height: 100%;
    background-size: contain; } }

.reviews {
  width: 100%;
  padding: 64px 0; }
  .reviews .container {
    display: flex;
    flex-direction: column;
    align-items: center; }
    .reviews .container h3,
    .reviews .container h2 {
      text-align: center; }

.reviews-wrapper {
  position: relative;
  width: 100%;
  max-width: 480px;
  margin: 32px 0 16px;
  display: flex;
  gap: 32px;
  overflow: hidden;
  transition: .8s height; }
  .reviews-wrapper .reviews-carousel {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    align-items: flex-start;
    gap: 32px;
    transition: .8s transform; }

.review {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 6px; }
  .review h4 {
    color: #fff;
    font-size: 2rem;
    font-weight: bolder;
    text-align: center; }
  .review p {
    color: #A8A8A8;
    text-align: center; }
  .review .review-stars {
    display: flex;
    gap: 4px; }

.reviews-buttons {
  display: flex;
  gap: 16px; }
  .reviews-buttons button {
    width: 32px;
    height: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    border: none;
    cursor: pointer; }
    .reviews-buttons button.reviews-right {
      transform: rotate(180deg); }

@media screen and (min-width: 1050px) {
  .reviews {
    padding: 128px 0; } }

.home-about {
  width: 100%;
  padding: 64px 0; }
  .home-about .container {
    display: grid;
    gap: 64px; }

.home-about-text {
  max-width: 400px; }
  .home-about-text p {
    margin: 1rem 0; }
  .home-about-text .cta {
    margin-top: 48px; }

.home-about-logo {
  width: 280px;
  justify-self: center; }
  .home-about-logo img {
    width: 100%; }

@media screen and (min-width: 768px) {
  .home-about .container {
    grid-template-columns: 1fr 1fr;
    gap: 64px; }
  .home-about-logo {
    justify-self: flex-end;
    align-self: center; } }

.home-about-logos {
  width: 100%;
  padding: 64px 0; }
  .home-about-logos .container {
    display: grid;
    gap: 64px;
    justify-items: center; }

@media screen and (min-width: 768px) {
  .home-about-logos .container {
    grid-template-columns: repeat(3, 1fr);
    align-items: center; }
    .home-about-logos .container img {
      width: 100%; } }

@media screen and (min-width: 1050px) {
  .home-about-logos .container {
    gap: 96px; } }

.home-services {
  position: relative;
  width: 100%;
  padding: 64px 0; }
  .home-services .container {
    position: relative;
    padding: 64px 16px;
    display: grid;
    gap: 64px;
    z-index: 1; }
    .home-services .container::before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100vw;
      height: 100%;
      background-color: #fff;
      z-index: -1; }
    .home-services .container .cta {
      justify-self: center; }

.home-services-text {
  display: grid;
  gap: 1rem; }
  .home-services-text h3 {
    color: #00cfe5; }
  .home-services-text h2 {
    color: #221c1c; }
  .home-services-text p {
    color: #828282; }

.home-services-wrapper {
  display: grid;
  gap: 32px; }

.home-services-item {
  width: 100%;
  display: grid;
  grid-template-columns: 32px 1fr;
  gap: 16px; }
  .home-services-item svg {
    margin-top: 4px;
    fill: #45155e; }
  .home-services-item h5 {
    color: #45155e;
    font-size: 1.5rem;
    font-weight: normal;
    letter-spacing: .3rem;
    text-transform: uppercase; }
  .home-services-item p {
    color: #828282; }

.home-services-pattern {
  position: absolute;
  top: 10%;
  right: 60%;
  height: 100%;
  width: 100vw;
  background-size: cover;
  opacity: 0.1; }

@media screen and (min-width: 768px) {
  .home-services .container {
    padding: 64px 32px; }
  .home-services-text {
    grid-template-columns: 280px 1fr; }
  .home-services-wrapper {
    grid-template-columns: repeat(3, 1fr); } }

@media screen and (min-width: 1050px) {
  .home-services .container {
    padding: 64px 0 64px 32px; }
  .home-services-pattern {
    background-size: contain; } }

.home-blog {
  width: 100%;
  padding: 128px 0 64px; }
  .home-blog .container {
    display: grid;
    gap: 64px; }
    .home-blog .container .cta {
      justify-self: center; }

.home-blog-title {
  position: relative; }
  .home-blog-title::before {
    content: '';
    position: absolute;
    top: 5px;
    right: 0;
    width: calc(90% - 120px);
    height: 2px;
    background-color: #fff; }

.home-blog-card {
  display: grid;
  gap: 96px; }

.home-blog-img {
  position: relative;
  display: block; }
  .home-blog-img .home-blog-img-wrapper {
    position: relative;
    width: 80%;
    padding-top: 50%;
    margin-left: 5%;
    margin-top: 5%; }
    .home-blog-img .home-blog-img-wrapper img {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      object-fit: cover; }
  .home-blog-img .yellow-frame {
    position: absolute;
    top: -10%;
    left: 0;
    width: 80%;
    height: 100%;
    border: 2px solid #ffdd00;
    z-index: -1; }
  .home-blog-img .yellow-box {
    position: absolute;
    top: 30%;
    left: 70%;
    width: 30%;
    height: 100%;
    background-color: #ffdd00;
    z-index: -1; }
  .home-blog-img .white-box {
    position: absolute;
    top: 10%;
    left: 50%;
    width: 35%;
    height: 100%;
    background-color: #fff;
    z-index: -1; }
  .home-blog-img .home-blog-img-pattern {
    position: absolute;
    top: 20%;
    right: 40%;
    width: 100%;
    height: 120%;
    object-fit: contain;
    opacity: 0.1;
    z-index: -1; }

.home-blog-text {
  width: 100%; }
  .home-blog-text span {
    display: flex;
    align-items: center;
    gap: 16px;
    color: #fff;
    font-size: 13px; }
  .home-blog-text h4 {
    color: #ffdd00;
    font-size: 2.5rem;
    font-weight: bolder; }
  .home-blog-text p {
    position: relative;
    padding: 16px 0 24px;
    margin: 16px 0 16px; }
    .home-blog-text p::before, .home-blog-text p::after {
      content: '';
      position: absolute;
      top: 0;
      left: 10%;
      width: 30%;
      height: 2px;
      background-color: #fff; }
    .home-blog-text p::after {
      top: unset;
      bottom: 0;
      left: unset;
      right: 5%;
      width: 10%; }

@media screen and (min-width: 768px) {
  .home-blog-card {
    grid-template-columns: repeat(2, 1fr);
    align-items: flex-start;
    gap: 64px; } }

@media screen and (min-width: 768px) {
  .home-blog {
    padding: 256px 0 128px; }
    .home-blog .container {
      gap: 128px; }
      .home-blog .container .cta {
        margin-top: 64px; } }

.about {
  padding: 64px 0; }
  .about .container {
    display: grid;
    gap: 64px; }

.about-text {
  position: relative; }
  .about-text div p {
    margin: 1.5rem 0; }

.about-pattern {
  position: absolute;
  top: 100%;
  right: 50%;
  width: 100%;
  height: 100%;
  opacity: 0.1;
  background-size: cover; }

.about-img {
  display: grid;
  gap: 64px;
  justify-items: center; }

@media screen and (min-width: 768px) {
  .about .container {
    grid-template-columns: 1fr 1fr; } }

.mission {
  width: 100%;
  padding: 64px 0 64px; }
  .mission .container {
    position: relative;
    display: grid;
    gap: 64px; }
    .mission .container img {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      opacity: 0.2;
      z-index: -1; }

.mission-card {
  max-width: 500px; }
  .mission-card h3 {
    margin-bottom: 1rem;
    color: #00cfe5;
    font-size: 1.5rem;
    font-weight: normal;
    letter-spacing: .4rem; }

@media screen and (min-width: 768px) {
  .mission .container img {
    position: absolute;
    top: -60px;
    left: unset;
    right: 520px;
    width: 380px;
    opacity: 1; }
  .mission-card {
    justify-self: flex-end; }
    .mission-card:nth-of-type(2) {
      margin-right: 128px; }
    .mission-card:nth-of-type(3) {
      margin-right: 256px; } }

.services {
  width: 100%;
  padding: 64px 0; }
  .services .container {
    display: grid;
    gap: 64px; }

.services-text {
  display: grid;
  gap: 1rem; }
  .services-text p {
    color: #828282; }

.services-wrapper {
  display: grid;
  gap: 32px; }
  .services-wrapper .services-item {
    display: grid;
    gap: 16px; }
    .services-wrapper .services-item img {
      width: 100%;
      height: 200px;
      border-radius: 16px;
      object-fit: cover; }
    .services-wrapper .services-item h3 {
      font-size: 1.3rem; }

@media screen and (min-width: 768px) {
  .services-text {
    grid-template-columns: 280px 1fr; }
  .services-wrapper {
    grid-template-columns: repeat(3, 1fr); } }

.blog {
  width: 100%;
  padding: 64px 0; }
  .blog .container {
    display: grid;
    gap: 64px; }

.blog-title {
  position: relative; }
  .blog-title::before {
    content: '';
    position: absolute;
    top: 5px;
    right: 0;
    width: calc(90% - 120px);
    height: 2px;
    background-color: #fff; }

.blog-wrapper {
  display: grid;
  gap: 32px; }

.blog-card {
  display: grid;
  gap: 32px; }

.blog-card-img {
  position: relative;
  width: 100%;
  padding-top: 60%; }
  .blog-card-img::before {
    content: '';
    position: absolute;
    top: -7%;
    left: 0;
    width: 95%;
    height: 100%;
    border: 2px solid #ffdd00; }
  .blog-card-img img {
    position: absolute;
    top: 0;
    right: 0;
    width: 95%;
    height: 100%;
    object-fit: cover; }

.blog-text {
  width: 100%; }
  .blog-text span {
    display: flex;
    align-items: center;
    gap: 16px;
    color: #fff;
    font-size: 13px; }
  .blog-text h4 {
    color: #ffdd00;
    font-size: 2.5rem;
    font-weight: bolder; }
  .blog-text p {
    position: relative;
    padding: 16px 0 24px;
    margin: 16px 0 16px; }
    .blog-text p::before, .blog-text p::after {
      content: '';
      position: absolute;
      top: 0;
      left: 10%;
      width: 30%;
      height: 2px;
      background-color: #fff; }
    .blog-text p::after {
      top: unset;
      bottom: 0;
      left: unset;
      right: 5%;
      width: 10%; }

@media screen and (min-width: 768px) {
  .blog-card {
    grid-template-columns: repeat(2, 1fr);
    align-items: flex-start;
    gap: 64px; } }

.faq {
  width: 100%;
  padding: 64px 0; }
  .faq .container {
    display: grid;
    gap: 64px; }

.faq-wrapper {
  display: grid;
  gap: 32px; }

.faq-question {
  width: 100%;
  display: grid;
  gap: 16px;
  cursor: pointer; }
  .faq-question h4 {
    padding: 8px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #fff;
    font-size: 1.4rem;
    font-weight: bolder;
    border-bottom: 2px solid #fff; }
    .faq-question h4 img {
      transform: rotate(90deg);
      transition: .3s transform; }
  .faq-question .faq-question-text {
    display: none; }
    .faq-question .faq-question-text p {
      margin: 1rem 0; }
  .faq-question.active h4 img {
    transform: rotate(-90deg); }
  .faq-question.active .faq-question-text {
    display: block; }

.content-title {
  padding: 64px 0; }

.content-img {
  width: 100%;
  height: 300px; }
  .content-img img {
    width: 100%;
    height: 100%;
    object-fit: cover; }

.content-text {
  width: 100%;
  padding: 64px 0;
  background-color: #fff; }
  .content-text p,
  .content-text ul,
  .content-text ol,
  .content-text li {
    color: #828282;
    font-size: 1rem;
    line-height: 1.5rem; }
  .content-text p, .content-text ul, .content-text ol {
    margin: 1rem 0; }
  .content-text h1,
  .content-text h2,
  .content-text h3,
  .content-text h4,
  .content-text h5,
  .content-text h6 {
    color: #221c1c; }

.footer {
  width: 100%;
  padding: 64px 0 32px; }
  .footer .container {
    display: grid;
    gap: 64px; }

.footer-header {
  width: 100%;
  display: flex;
  justify-content: space-between; }
  .footer-header img {
    width: 100px; }

@media screen and (min-width: 768px) {
  .footer-header img {
    width: 200px; } }

.footer-info {
  display: grid;
  gap: 32px; }
  .footer-info h5 {
    margin-bottom: 8px;
    color: #fff;
    font-size: 1.5rem;
    font-weight: bolder; }
  .footer-info form {
    display: grid;
    gap: 16px; }
    .footer-info form input:not([type="submit"]),
    .footer-info form textarea {
      width: 100%;
      height: 36px;
      padding: 8px 16px;
      background-color: transparent;
      border: none;
      border-bottom: 1px solid #fff;
      font-size: 1rem; }
      .footer-info form input:not([type="submit"])::placeholder,
      .footer-info form textarea::placeholder {
        color: #fff;
        opacity: 0.8; }
    .footer-info form input[type="submit"] {
      min-width: 260px;
      margin-top: 16px;
      padding: .5rem 2rem;
      display: inline-block;
      border: 3px solid #00cfe5;
      color: #00cfe5;
      font-size: 1rem;
      font-weight: bolder;
      letter-spacing: 0.1rem;
      text-align: center;
      text-transform: uppercase;
      cursor: pointer;
      background-color: transparent;
      transition: .3s background-color, .3s color; }
      .footer-info form input[type="submit"]:hover {
        background-color: #00cfe5;
        color: #221c1c; }

.sitemap ul li a {
  display: block;
  padding: 4px 0;
  color: #fff; }

.footer-contact-info {
  display: flex;
  flex-direction: column; }
  .footer-contact-info a {
    display: flex;
    align-items: center;
    gap: 8px;
    padding: 4px 0;
    color: #fff; }
    .footer-contact-info a svg {
      width: 16px;
      height: 16px;
      fill: #00cfe5; }

.footer-contact-social {
  margin-top: 1rem;
  display: flex;
  align-items: center;
  gap: 16px; }
  .footer-contact-social svg {
    width: 16px;
    height: 16px;
    fill: #00cfe5; }

.rodape p {
  text-align: center;
  font-size: 14px; }

@media screen and (min-width: 768px) {
  .footer-info {
    grid-template-columns: 2fr 1fr 1fr; } }

@keyframes reset {
  to {
    opacity: 1;
    transform: translate3d(0, 0, 0) scale(1) rotate(0);
    visibility: visible; } }

